* {
    box-sizing: content-box;
    font-family: 'Raleway', sans-serif;
    background-color: #caf0f8;
}

header {
    background-color: #90e0ef;
    grid-area: header;
    display: flex;
    text-align: center;
}

#birthday {
    background-color: #90e0ef;
    display: flex;
    grid-area: image;
    width: 200px;
    height: auto;
    justify-self: center;
    align-self: center;
    flex-grow: 1;
}

header h1 {
    background-color: #90e0ef;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-self: center;
    font-size: 32px;
}

nav {
    background-color: #90e0ef;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: stretch;
    align-items: center;
    height: 500px;
    text-align: center;
}
nav a {
    text-decoration: none;
    background-color: #023e8a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

main {
    padding-left: 240px;
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img#bordeauxMap {
    width: 80%;
    height: auto;
    justify-content: center;
    align-self: center;
}

.sidebar {
    display: grid;
    grid-template-areas: 
    "header"
    "image"
    "nav";
    position: fixed;
    width: 220px;
    height: auto;
    background-color: #90e0ef;
    border: white solid 3px;
}

main.info {
    display: grid;
    grid-template-areas: 
    "sautHeader sautInfograph"
    "sautInfo sautInfograph";
    grid-template-rows: 100px auto;
    grid-template-columns: 1fr 1fr;
}

section#sauternesHeader {
    grid-area: sautHeader;
}

section#sautInfo {
    grid-area: sautInfo;
    vertical-align: top;
}

section#sautInfograph {
    grid-area: sautInfograph;
    
}

section#sautInfograph > img {
    box-shadow: 10px 10px 5px grey;
    border-radius: 8px;
    height: 50%;
    width: auto;
    vertical-align: bottom;
}